/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-tab-bar-color: white;
  --ion-tab-bar-color-selected: #1ed760;
  --ion-tab-bar-background: #191414;
}
